.NewsCard{
   background-color:#e8e8e8;
   width: 230px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   transition: all ease-in 0.3s;
   cursor: pointer;
   
   .container{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap:10px;
      padding-block:15px;
      
      .desc{
         font-size: 0.9rem;
      }
      .date{
         font-size: 12px;
         color: #808080;
      }
      .image{
         width:100%;

         img{
            width: 100%;
         }
      }

      button{
         padding-inline: 13px;
            padding-block: 8px;
            border: none;
            background-color: #1985f1;
            border-radius: 5px;
            color: white;
            margin-top: 10px;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
         
            &:hover {
               scale: (1.1);
               background-color: #087cef;
         
            }
         
            &:active {
               scale: (1);
               background-color: #1985f1;
            }
      }

      
   }

       @media screen and (max-width:767px) {

         width: 100%;
       }

       &:hover{
         scale: (1.1);
       }
}